<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mapper.ExhibitionVisitMapper">

    <insert id="insertExhibitionVisit" parameterType="com.example.admin.entity.Visit.ExhibitionVisit">
        INSERT INTO expoverse.exhibition_visit
        (loginid, userid, trigger_timestamp, exhibition_id, enter)
        VALUES (#{loginid}, #{userid}, #{trigger_timestamp}, #{exhibition_id}, #{enter})
    </insert>

    <insert id="insertProductVisit" parameterType="com.example.admin.entity.Visit.ProductVisit">
        INSERT INTO expoverse.product_visit
        (loginid, userid, prodid, duration, trigger_timestamp)
        VALUES (#{loginid}, #{userid}, #{prodid}, #{duration}, #{trigger_timestamp})
    </insert>

    <resultMap id="ExhibitionVisitMap" type="com.example.admin.entity.Visit.ExhibitionVisit">
        <id column="loginid" property="loginid"/>
        <result column="userid" property="userid"/>
        <result column="trigger_timestamp" property="trigger_timestamp"/>
        <result column="exhibition_id" property="exhibition_id"/>
        <result column="enter" property="enter"/>
    </resultMap>

    <select id="ExhbgetDatabyDate" resultMap="ExhibitionVisitMap">
        SELECT * FROM expoverse.exhibition_visit WHERE trigger_timestamp
        BETWEEN #{startTime} AND #{endTime};
    </select>

    <resultMap id="ProductVisitMap" type="com.example.admin.entity.Visit.ProductVisit">
        <id column="loginid" property="loginid"/>
        <result column="userid" property="userid"/>
        <result column="trigger_timestamp" property="trigger_timestamp"/>
        <result column="duration" property="duration"/>
        <result column="prodid" property="prodid"/>
    </resultMap>

    <select id="ProdgetDatabyDate" resultMap="ProductVisitMap">
        SELECT * FROM expoverse.product_visit WHERE trigger_timestamp
        BETWEEN #{startTime} AND #{endTime};
    </select>

    <select id="getExhibitionList" resultType="String">
        SELECT exhibition_id FROM expoverse.exhibition
    </select>

    <resultMap id="ExhibitionMap" type="com.example.admin.entity.Visit.Exhibition">
        <result column="exhibition_id" property="exhibition_id"/>
        <result column="verse_id" property="verse_id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="getAllExhibition" resultMap="ExhibitionMap">
        SELECT exhibition_id,verse_id,name,description
        FROM expoverse.exhibition
        ORDER BY number ASC
    </select>


    <resultMap id="exhb2prodMap" type="com.example.admin.entity.Visit.exhb2prod">
        <result column="exhibition_id" property="exhbid"/>
        <result column="product_id" property="prodid"/>
    </resultMap>

    <select id="getexhb2prod" resultMap="exhb2prodMap">
        SELECT exhibition_id, product_id FROM expoverse.product
    </select>

    <select id="getexhbvisitbyexhbid" resultMap="ExhibitionVisitMap">
        SELECT loginid, userid, trigger_timestamp, exhibition_id, enter
        FROM expoverse.exhibition_visit
        WHERE exhibition_id = #{exhbid}
    </select>

    <select id="getexhbvisitbyloginid" resultMap="ExhibitionVisitMap">
        SELECT loginid, userid, trigger_timestamp, exhibition_id, enter
        FROM expoverse.exhibition_visit
        WHERE exhibition_id = #{exhbid} AND loginid = #{loginid}
    </select>

</mapper>