<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mapper.InvitationCodeMapper">

    <insert id="insertInvitationCode" parameterType="com.example.admin.entity.User.InvitationCode">
        INSERT INTO expoverse.invitation_codes (invitation_code_id, start_date, end_date, start_time, userid, approver_id)
        VALUES (#{codeId}, #{startDate}, #{endDate}, #{startTime}, #{userid}, #{approver_id})
    </insert>

    <resultMap id="codeIdMap" type="com.example.admin.entity.User.InvitationCode">
        <id column="id" property="id"/>
        <result column="invitation_code_id" property="codeId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="start_time" property="startTime"/>
        <result column="name" property="username"/>
        <result column="userid" property="userid"/>
        <result column="approver_id" property="approver_id"/>
        <result column="last_login" property="last_login"/>
    </resultMap>

    <select id="findCodebyId" resultMap="codeIdMap">
        SELECT invitation_code_id FROM expoverse.invitation_codes WHERE invitation_code_id = #{codeId}
    </select>

    <select id="getAllInvitation" resultMap="codeIdMap">
        SELECT expoverse.invitation_codes.invitation_code_id,expoverse.invitation_codes.start_date,
        expoverse.invitation_codes.end_date, expoverse.invitation_codes.start_time, expoverse.user.name,
        expoverse.invitation_codes.approver_id, expoverse.invitation_codes.last_login
        FROM expoverse.invitation_codes JOIN expoverse.user
        ON expoverse.invitation_codes.userid = expoverse.user.id
        WHERE expoverse.invitation_codes.deleted = 0
        ORDER BY expoverse.invitation_codes.id
        DESC
    </select>

    <select id="getLatestCodeForEach" resultMap="codeIdMap">
        SELECT t.userid, t.invitation_code_id,t.start_date, t.end_date, t.start_time, t.id
        FROM expoverse.invitation_codes t
        JOIN (
        SELECT userid, max(id) as id
        FROM expoverse.invitation_codes
        group by userid
        ) maxt
        ON t.userid=maxt.userid and t.id=maxt.id;
    </select>

    <delete id="deleteInvitationCode">
        DELETE FROM expoverse.invitation_codes WHERE invitation_code_id = #{code}
    </delete>

    <update id="setLastLogin">
        UPDATE expoverse.invitation_codes
        SET last_login = #{currentTimestamp}
        WHERE id = #{id}
    </update>

    <update id="setdelete">
        UPDATE expoverse.invitation_codes
        SET deleted = 1
        WHERE userid = #{userid}
    </update>


</mapper>