<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mapper.ResourceMapper">

    <resultMap id="ProductResultMap" type="com.example.admin.entity.Resource.Product">
        <result column="product_id" property="product_id"/>
        <result column="product_name" property="product_name"/>
        <result column="exhibition_id" property="exhibition_id"/>
        <!-- 其他字段 -->
    </resultMap>

    <resultMap id="DMResultMap" type="com.example.admin.entity.Resource.DM">
        <result column="file_url" property="url"/>
        <result column="product_id" property="prodid"/>
        <result column="file_no" property="file_no"/>
        <result column="download" property="download"/>
        <!-- 其他字段 -->
    </resultMap>

    <resultMap id="ExhbMovieResultMap" type="com.example.admin.entity.Resource.ExhbMovie">
        <result column="file_url" property="url"/>
        <result column="exhibition_id" property="exhibition_id"/>
        <result column="file_no" property="file_no"/>
        <result column="download" property="download"/>
        <!-- 其他字段 -->
    </resultMap>

    <resultMap id="ProdMovieResultMap" type="com.example.admin.entity.Resource.ProdMovie">
        <result column="file_url" property="url"/>
        <result column="product_id" property="prodid"/>
        <result column="file_no" property="file_no"/>
        <result column="download" property="download"/>
        <!-- 其他字段 -->
    </resultMap>

    <select id="getallProduct" resultMap="ProductResultMap">
        SELECT product_id, product_name, exhibition_id FROM expoverse.product
    </select>

    <!-- 根据展区ID获得产品列表 -->
    <select id="getProdListbyExhbid" parameterType="String" resultMap="ProductResultMap">
        SELECT product_id, product_name FROM expoverse.product WHERE exhibition_id = #{exhbid}
    </select>

    <!-- 根据产品ID获得DM的URL列表 -->
    <select id="getDMURLbyProdid" parameterType="String" resultMap="DMResultMap">
        SELECT file_url FROM expoverse.url_dm WHERE product_id = #{prodid} ORDER BY file_no
    </select>

    <!-- 根据展区ID获得展区电影的URL列表 -->
    <select id="getExhbMovieURLbyExhbid" resultMap="ExhbMovieResultMap">
        SELECT file_url FROM expoverse.url_exhbmovie WHERE exhibition_id = #{exhbid} ORDER BY file_no
    </select>

    <!-- 根据展区ID获得产品电影的URL列表 -->
    <select id="getProdMovieURLbyExhbid" resultMap="ProdMovieResultMap">
        SELECT file_url FROM expoverse.url_productmovie JOIN expoverse.product
        ON expoverse.product.product_id=expoverse.url_productmovie.product_id
        WHERE expoverse.product.exhibition_id= #{exhbid} ORDER BY file_no
    </select>

    <!-- 删除某个product下已有的所有DM的URL,之后要插入新的 -->
    <delete id="deleteurlbyprodid" parameterType="String">
        DELETE FROM expoverse.url_dm WHERE product_id = #{prodid}
    </delete>

    <!-- 向某个product下插入新的url -->
    <insert id="inserturlbyprodid" parameterType="com.example.admin.entity.Resource.URL">
        INSERT INTO expoverse.url_dm (file_url, file_type, product_id, file_no)
        VALUES (#{file_url}, #{file_type},#{product_id}, #{file_no})
    </insert>

    <delete id="deleteurlbyexhbmovie" parameterType="String">
        DELETE FROM expoverse.url_exhbmovie WHERE exhibition_id = #{exhbid}
    </delete>

    <insert id="inserturlbyexhbmovie">
        INSERT INTO expoverse.url_exhbmovie (file_url, file_type, exhibition_id, file_no)
        VALUES (#{file_url}, #{file_type},#{exhibition_id}, #{file_no})
    </insert>

    <delete id="deleteurlbyprodmovie">
        DELETE FROM expoverse.url_productmovie WHERE exhibition_id = #{exhbid}
    </delete>

    <insert id="inserturlbyprodmovie">
        INSERT INTO expoverse.url_productmovie (file_url, file_type, exhibition_id, file_no)
        VALUES (#{file_url}, #{file_type},#{exhibition_id}, #{file_no})
    </insert>

    <select id="getallExhbid" resultType="java.lang.String">
        SELECT exhibition_id FROM expoverse.exhibition
    </select>

    <select id="getallExhbMovie" resultMap="ExhbMovieResultMap">
        SELECT file_url,exhibition_id,file_no,download FROM expoverse.url_exhbmovie ORDER BY file_no
    </select>

    <select id="getallDM" resultMap="DMResultMap">
        SELECT file_url,product_id,file_no,download FROM expoverse.url_dm ORDER BY file_no
    </select>

    <select id="getallProdMovie" resultMap="ProdMovieResultMap">
        SELECT file_url,product_id,file_no,download FROM expoverse.url_productmovie ORDER BY file_no
    </select>

</mapper>