<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mapper.SurveyMapper">

    <!-- 插入新的问卷,产生问卷编号 -->
    <insert id="insertSurveyUser" parameterType="com.example.admin.entity.Survey.SingleSurvey"
            useGeneratedKeys="true" keyProperty="loginid">
        INSERT INTO expoverse.survey_user (loginid, userid, duration_sec, trigger_timestamp)
        VALUES (#{loginid}, #{userid}, #{duration_sec}, #{trigger_timestamp})
    </insert>
    <!--得到刚才插入的问卷信息的用户id -->
    <select id="getSurveyUser" parameterType="com.example.admin.entity.Survey.SingleSurvey" resultType="int">
        SELECT loginid FROM expoverse.survey_user
        WHERE userid = #{userid} and trigger_timestamp = #{trigger_timestamp}
    </select>
    <!-- 把每一道题的每一个答案的作答条目插入数据库中 -->
    <insert id="insertSurveyOption" parameterType="com.example.admin.entity.Survey.SurveyOption">
        INSERT INTO expoverse.option_answers (loginid, option_id)
        VALUES (#{loginid}, #{option_id})
    </insert>

    <!-- 把每一道题的填空回答插入数据库中 -->
    <insert id="insertQuesFill" parameterType="com.example.admin.entity.Survey.QuesFill">
        INSERT INTO expoverse.ques_fill (ques_id, loginid, filltext)
        VALUES (#{ques_id}, #{loginid}, #{filltext})
    </insert>

    <!-- 获得所有的问卷问题id -->
    <select id="getAllQuesID" resultType="int">
        SELECT ques_id FROM expoverse.survey_questions
    </select>

    <!-- 获得已收集的问卷数量 -->
    <select id="getSurveyNum" resultType="int">
        SELECT loginid FROM expoverse.survey_user
    </select>

    <!-- 获得已收集的问卷的平均完成时间 -->
    <select id="getAvgTime" resultType="int">
        SELECT duration_sec FROM expoverse.survey_user
    </select>

    <!-- 获得某一道题目名下有哪些选项,返回所有的选项id -->
    <select id="getOptionsForOneQues" parameterType="int" resultType="int">
        SELECT option_id FROM expoverse.survey_options
        WHERE ques_id = #{ques_id}
    </select>

    <!-- 获得某一个选项的所有作答loginid和userid -->
    <select id="getUserForOneOption" parameterType="int" resultType="com.example.admin.entity.Survey.UserSurvey">
        SELECT expoverse.survey_user.loginid,expoverse.survey_user.userid
        FROM expoverse.option_answers JOIN expoverse.survey_user
        ON expoverse.option_answers.loginid = expoverse.survey_user.loginid
        WHERE expoverse.option_answers.option_id = #{option_id}
    </select>

    <select id="getQuestions" resultType="com.example.admin.entity.Survey.Question">
        SELECT * FROM expoverse.survey_questions
    </select>

    <select id="getOptions" resultType="com.example.admin.entity.Survey.Option">
        SELECT * FROM expoverse.survey_options
    </select>

    <select id="getSurvey" resultType="com.example.admin.entity.Survey.SurveyInfo">
        SELECT * FROM expoverse.survey_user
    </select>

    <select id="getOptionAnswer" resultType="java.lang.Integer">
        SELECT option_id FROM expoverse.option_answers WHERE loginid = #{loginid}
    </select>

    <select id="getFilledForOneQues" parameterType="com.example.admin.entity.Survey.QuesFill"
            resultType="java.lang.String">
        SELECT filltext FROM expoverse.ques_fill WHERE ques_id = #{ques_id} and loginid = #{loginid}
    </select>

    <select id="getallQuesFill" resultType="com.example.admin.entity.Survey.QuesFill">
        SELECT expoverse.ques_fill.ques_id,expoverse.ques_fill.loginid,
        expoverse.ques_fill.filltext,expoverse.survey_user.trigger_timestamp
        FROM expoverse.ques_fill JOIN expoverse.survey_user
        ON expoverse.ques_fill.loginid = expoverse.survey_user.loginid
        ORDER BY expoverse.survey_user.trigger_timestamp
        DESC
    </select>

</mapper>

